<!-- habilidades section -->
<section class="habilidades" id="habilidades">
    <h2 class="heading"><strong><i>{{miPortfolio.skills.title}}</i></strong></h2>
    <div class="row">
        <div class="col-sm-6">
            <ul class="habilidades-columna-1">
                <li>{{miPortfolio.skills.column01.list.item01}}</li>
                <hr>
                <li>{{miPortfolio.skills.column01.list.item02}}</li>
                <hr>
                <li>{{miPortfolio.skills.column01.list.item03}}</li>
                <hr>
                <li>{{miPortfolio.skills.column01.list.item04}}</li>
                <hr>
                <li>{{miPortfolio.skills.column01.list.item05}}</li>
                <hr>
                <li>{{miPortfolio.skills.column01.list.item06}}</li>
                <hr>
                <li>{{miPortfolio.skills.column01.list.item07}}
                    <ul>
                        <li>{{miPortfolio.skills.column01.list.sublist.item01}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column01.list.sublist.item02}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column01.list.sublist.item03}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column01.list.sublist.item04}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column01.list.sublist.item05}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column01.list.sublist.item06}}</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="habilidades-columna-2">
                <li>{{miPortfolio.skills.column02.list.item01}}
                    <ul>
                        <li>{{miPortfolio.skills.column02.list.sublist01.item01}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist01.item02}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist01.item03}}</li>
                    </ul>
                </li>
                <hr>
                <li>{{miPortfolio.skills.column02.list.item02}}
                    <ul>
                        <li>{{miPortfolio.skills.column02.list.sublist02.item01}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist02.item02}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist02.item03}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist02.item04}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist02.item05}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist02.item06}}</li>
                        <hr>
                    </ul>
                </li>
                <li>{{miPortfolio.skills.column02.list.item03}}
                    <ul>
                        <li>{{miPortfolio.skills.column02.list.sublist03.item01}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist03.item02}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist03.item03}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist03.item04}}</li>
                        <hr>
                        <li>{{miPortfolio.skills.column02.list.sublist03.item05}}</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>