<!-- project section -->
<section class="project-section" id="project-section">
    <h2 class="heading">{{miPortfolio.projects.title}}</h2>
    <div class="project-container">
        <div class="project-card proyecto_5">
            <img [src]="miPortfolio.projects.project05.img" class="project-img" alt="Quinto Proyecto">
            <div class="project-content">
                <h3 class="project-title">{{miPortfolio.projects.project05.title}}</h3>
                <p class="project-info">
                    {{miPortfolio.projects.project05.text}}
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github"><a href="https://github.com/PaulaLemStaFe/Portafolio_OOA"
                            target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project05.btn01text}}</a></button>
                    <button class="project-btn live"><a href="https://paulalemstafe.github.io/Portafolio_OOA/"
                            target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project05.btn02text}}</a></button>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img [src]="miPortfolio.projects.project04.img" class="project-img" alt="Cuarto Proyecto">
            <div class="project-content">
                <h3 class="project-title">{{miPortfolio.projects.project04.title}}</h3>
                <p class="project-info">
                    {{miPortfolio.projects.project04.text}}
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github"><a
                            href="https://github.com/PaulaLemStaFe/Segundo-Challenge-Ahorcado" target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project04.btn01text}}</a></button>
                    <button class="project-btn live"><a
                            href="https://paulalemstafe.github.io/Segundo-Challenge-Ahorcado/" target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project04.btn02text}}</a></button>
                </div>
            </div>
        </div>
        <div class="project-card proyecto_3">
            <img [src]="miPortfolio.projects.project03.img" class="project-img" alt="Tercer Proyecto">
            <div class="project-content">
                <h3 class="project-title">{{miPortfolio.projects.project03.title}}</h3>
                <p class="project-info">
                    {{miPortfolio.projects.project03.text}}
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github"><a
                            href="https://github.com/PaulaLemStaFe/Primer-Challenge-Encriptador" target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project03.btn01text}}</a></button>
                    <button class="project-btn live"><a
                            href="https://paulalemstafe.github.io/Primer-Challenge-Encriptador/" target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project03.btn02text}}</a></button>
                </div>
            </div>
        </div>
        <div class="project-card">
            <img [src]="miPortfolio.projects.project02.img" class="project-img" alt="Segundo Proyecto">
            <div class="project-content">
                <h3 class="project-title">{{miPortfolio.projects.project02.title}}</h3>
                <p class="project-info">
                    {{miPortfolio.projects.project02.text}}
                </p>
                <div class="project-btn-grp">
                    <button class="project-btn github"><a href="https://github.com/PaulaLemStaFe/Mi_Portfolio_AP_Base"
                            target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project02.btn01text}}</a></button>
                    <button class="project-btn live"><a href="https://paulalemstafe.github.io/Mi_Portfolio_AP_Base/"
                            target="_blank"
                            rel="noopener noreferrer">{{miPortfolio.projects.project02.btn02text}}</a></button>
                </div>
            </div>
        </div>
    </div>
    <div class="project-card">
        <img [src]="miPortfolio.projects.project01.img" class="project-img" alt="Primer Proyecto">
        <div class="project-content">
            <h1 class="project-title">{{miPortfolio.projects.project01.title}}</h1>
            <p class="project-info">
                {{miPortfolio.projects.project01.text}}
            </p>
        </div>
    </div>
</section>