<!-- trabajo section -->
<section class="sectrabajo" id="h_trabajo">
  <div class="trabajo">
    <h2 class="heading"><strong><i>{{miPortfolio.experience.title}}</i></strong></h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="false" aria-controls="collapseOne">
            {{miPortfolio.experience.experience01.enterprise}}
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience01.datetitle}}</b>{{miPortfolio.experience.experience01.date}}</p>
            <ul>
              <li>{{miPortfolio.experience.experience01.descriptionlist.item01}}</li>
              <li>{{miPortfolio.experience.experience01.descriptionlist.item02}}</li>
              <li>{{miPortfolio.experience.experience01.descriptionlist.item03}}</li>
              <li>{{miPortfolio.experience.experience01.descriptionlist.item04}}</li>
              <li>{{miPortfolio.experience.experience01.descriptionlist.item05}}</li>
              <li>{{miPortfolio.experience.experience01.descriptionlist.item06}}
                <ul>
                  <li>{{miPortfolio.experience.experience01.descriptionlist.sublist.item01}}</li>
                  <li>{{miPortfolio.experience.experience01.descriptionlist.sublist.item01}}</li>
                  <li>{{miPortfolio.experience.experience01.descriptionlist.sublist.item01}}</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {{miPortfolio.experience.experience02.enterprise}}
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience02.datetitle}}</b> {{miPortfolio.experience.experience02.date}}</p>
            <h4>{{miPortfolio.experience.experience02.position}}</h4>
            <p>{{miPortfolio.experience.experience02.description}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            {{miPortfolio.experience.experience03.enterprise}}
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience03.datetitle}}</b> {{miPortfolio.experience.experience03.date}}</p>
            <h4>{{miPortfolio.experience.experience03.position}}</h4>
            <p>{{miPortfolio.experience.experience03.description}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            {{miPortfolio.experience.experience04.enterprise}}
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience04.datetitle}}</b> {{miPortfolio.experience.experience04.date}}</p>
            <h4>{{miPortfolio.experience.experience04.position}}</h4>
            <p>{{miPortfolio.experience.experience04.description}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            {{miPortfolio.experience.experience05.enterprise}}
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience05.datetitle}}</b> {{miPortfolio.experience.experience05.date}}</p>
            <h4>{{miPortfolio.experience.experience05.position}}</h4>
            <br>
            <p>{{miPortfolio.experience.experience05.description}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
            {{miPortfolio.experience.experience06.enterprise}}
          </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience06.datetitle}}</b> {{miPortfolio.experience.experience06.date}}</p>
            <h4>{{miPortfolio.experience.experience06.position}}</h4>
            <br>
            <p>{{miPortfolio.experience.experience06.description}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
            {{miPortfolio.experience.experience07.enterprise}}
          </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience07.datetitle}}</b> {{miPortfolio.experience.experience07.date}}</p>
            <h4>{{miPortfolio.experience.experience07.position}}</h4>
            <br>
            <p>{{miPortfolio.experience.experience07.description}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
            {{miPortfolio.experience.experience08.enterprise}}
          </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience08.datetitle}}</b> {{miPortfolio.experience.experience08.date}}</p>
            <h4>{{miPortfolio.experience.experience08.position}}</h4>
            <br>
            <p>{{miPortfolio.experience.experience08.description}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
            {{miPortfolio.experience.experience09.enterprise}}
          </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience09.datetitle}}</b> {{miPortfolio.experience.experience09.date}}</p>
            <h4>{{miPortfolio.experience.experience09.position}}</h4>
            <br>
            <p>{{miPortfolio.experience.experience09.description}}</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTen">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
            {{miPortfolio.experience.experience10.enterprise}}
          </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><b>{{miPortfolio.experience.experience10.datetitle}}</b> {{miPortfolio.experience.experience10.date}}</p>
            <h4>{{miPortfolio.experience.experience10.position}}</h4>
            <br>
            <p>{{miPortfolio.experience.experience10.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>