<!-- aprendizajes seccion -->
<section class="conocimientos" id="otros_conocimientos">
        <div id="otrosconocimientos">
          <h2 class="heading"><strong><i>{{miPortfolio.lifelearnings.title}}</i></strong></h2>
          <p><strong>{{miPortfolio.lifelearnings.text01}}</strong></p>
          <p><strong>{{miPortfolio.lifelearnings.text02}}</strong></p>
          <p><strong>{{miPortfolio.lifelearnings.text03}}</strong></p>
          <p><strong>{{miPortfolio.lifelearnings.text04}}</strong></p>
          <p><strong>{{miPortfolio.lifelearnings.text05}}</strong></p>
          <p><strong>{{miPortfolio.lifelearnings.text06}}</strong></p>
          <p><strong>{{miPortfolio.lifelearnings.text07}}</strong></p>
        </div>
</section>